html{      
    width:100%;
    height:100%;       
}
body {
	font-family:Arial;
    width:100%;
    height:100%;
	margin:0;
	overflow-x:hidden; 
	overflow-y:scroll;
}
/*------main page-------*/
#contenedorPagPrincipal {
    background-image: url("Imagenes/fondo2.jpg");
    margin:auto;
}
#alumno {
    border-radius: 25px;
    float: left;
    width: 20%;
    margin: 3%;
    background-image:url("Imagenes/fondo1.jpg");
    padding-left:5px;
    
}
#cuerpo{
    margin-left:25%; 
    padding:5%;

}
#profile {
            height:150px;
            width:150px;
            margin-left:50px;
            margin-top:20px;
            box-shadow: 0px 30px 40px rgba(0,0,0,.1);
        }
#apodo{
            margin-left:50px;
            margin-bottom:100px;
        }
#buscador{
    margin:10px;
    border-color:#FFFFFF;  
    background-color:#9FA8DA;   
color:black;	
    padding:5px;

}

#porCurso {
            height:200px;
            width:200px;
            margin-left:100px;
            
        }
#porProfesor{
            height:200px;
            width:200px;
            margin-left:300px;
        }
#history {
            height:200px;
            width:200px;
            margin-left:300px;
        }
.tabs {
            width:100%;
            display:inline-block;
            

        }
#contenidoDeCursos{
    margin:10px;
}
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
} 
.tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    } 
.tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7FB5DA;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        } 
.tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        } 
li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
.tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;

        
        height:200px;
    } 
.tab {
            display:none;
        } 
.tab.active {
            display:block;
        }

#buscador #izquierda{
    float:left;
    width:30%;
    text-align:center;
    border:1px solid red;
	color:black;
}
#buscador #derecha{
    float:right;
    width:30%;
    text-align:center;
    border:1px solid red;
	color:black;
}
#buscador #centro{
    margin-left:31%;
    margin-right:31%;
    text-align:center;
    border:1px solid red;	 
	color:black;
	 

}

/*----- Perfil -----*/
#perfil{
    width: 600px;
    margin: auto; 
	
        
}
#contenido #imagen{
    text-align:center;

}
#contenido #cuerpo{
    margin-top:40px;
    margin-left:70px;
}
#contenido #b1{
	text-align:center;
	margin-left:40%;
	margin-right:0%;
}

/*-----Buscar por profesor -----*/
#buscarXprofe{
    margin-left:5%;
    margin-right:5%;
    padding:5%;
    
}
#nombre{
    width:40%;
    border:2px solid black;
    height:20px;
}
table{
  border: black 2px solid;
}
#cont{
    margin-top:10px;
	background-color: #8FBC8F;
}
td{
    width:2%;
    margin:3px;
}
tr{
    border-bottom:2px solid black;
    border-top:2px solid black;
}
#xd{
background-color:#9FA8DA;
}
body >div:last-child{
display:none;
}
/*-------Default----*/
div{
    display:block;
}
header{
    background-color:white;
    
}
#cabe{
    margin:0 10%;
}

#Dere{
    float:right;
    margin-top:20px;
}
[role="button"]{
    cursor:pointer;
}
#Dere a{
    text-decoration:none;
}
#BotonRegis {
    background-color: rgb(52, 209, 110);
    color: white;
    border-radius:4px;
    padding:10px 1.2rem;
    border:none;
}
#Pie {
    background-color: #2e3c54;
    text-align:center;
    color:white;
    padding:3px 0;
}
#Contenedor1 {
    width: auto;
    height:auto;
    margin:0 auto;
    display:block;
    
}
#actor{
    text-align:center;
    padding-top:10px;
}
#Titulo{
	margin-top:-30px;
    color:white;
    text-align:center;
    font-size:23px;
}
#form1 {
    background-image: url('Imagenes/fondo1.jpg');
    background-size:cover;
    background-position:100% 100%;
    padding-bottom:2%;
	
    
}
#Texto {
    text-align: center;
    color: white;
    font-size: 14px;
    margin-top:-35px;
    
}
#Descargas{
    text-align:center; 
}
#bot{
    text-align:center;
    margin-top:15px;
    margin-bottom:50px;
}
#Que{
	text-align:center;
	color:white;
	background-color:#56bc8a;
	cursor:pointer;
	padding:1px 0;
	bottom:0;
}
#Explicacion{
    width: 200px; 
	height: 100px; 
	overflow-y: scroll;

}

/*-------usuario Contraseña----*/



#contIS{
  margin: 0px;
  padding: 0px;
  

}

h1{
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-weight: normal;
  margin: 2em auto 0px;
}
.ventana{
  background: #13202c;
  width: 900px;
  height: 540px;
  margin: 50px auto;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  position: relative;
  padding-top: 35px;
}

.ventana:before{
  content: "";
  background: #3e4a53;
  border-radius: 50px;
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 9999;
  width: 50px;
  height: 50px;
}
.ventana:after{
  content: "";
  background: #ecf0f1;
  width: 900px;
  height: 88px;
  position: absolute;
  bottom: 0px;
  border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
}

.inicio{
  position: relative;  
}



.direct{
  width: 800px;
  height: 340px;
  background: #1abc9d;
  margin: 0px auto;
  padding-top: 80px;
}

.form{
  width: 400px;
  height: 230px;
  background: #edeff1;
  margin: 0px auto;
  padding-top: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

input[type="text"]{
  display: block;
  width: 309px;
  height: 35px;
  margin: 15px auto;
  background: #fff;
  border: 0px;
  padding: 5px;
  font-size: 16px;
   border: 2px solid #fff;
  transition: all 0.3s ease;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
input[type="password"]{
  display: block;
  width: 309px;
  height: 35px;
  margin: 15px auto;
  background: #fff;
  border: 0px;
  padding: 5px;
  font-size: 16px;
   border: 2px solid #fff;
  transition: all 0.3s ease;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input[type="text"]:focus{
  border: 2px solid #1abc9d
}

input[type="submit"]{
  display: block;
  background: #1abc9d;
  width: 314px;
  padding: 12px;
  cursor: pointer;
  color: #fff;
  border: 0px;
  margin: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s ease;
}

input[type="submit"]:hover{
  background: #09cca6
}

a{
  text-align: center;
  font-family: Arial;
  color: black;
  display: block;
  margin: 15px auto;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 16px;
}

a:hover{
  color:green;
}




