
html {
    width: 100%;
    height: 100%;
}
body{
	width: 100%;
	height:100%;	
	background-image: url('https://cdn.pixabay.com/photo/2014/04/02/17/04/green-307835_960_720.png');
	background-size:cover;
   

}

.efecto{
	 overflow:hidden;
    position:relative;
    height:0;
    -webkit-transition: all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    transition: all 500ms ease-out;
	

}
.efecto:target{
	 height:100%;
	
}
[role="button"]{
    cursor:pointer;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrap{
	margin: auto;
	width: 90%;
	max-width: 1000px;
}

.wrap p{
	font-size: 18px;
}

header{
	width: 100%;
	position: fixed;
}

.header-top{
	width: 100%;
	background: #1abc9d;
	

	
}

.navegacion{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding:12px 0;
}

input[type="search"]{
	padding: 10px;
	padding-right: 35px;
	border: none;
}

.search{
	width: 90%;
	max-width: 1000px;
	margin: auto;
	background: #fff;
	padding:0 10px;
	padding-bottom: 5px;
	max-height: 50%;
	overflow-x: hidden;
	display: none;
}

.search-table{
	width: 1000%;
	
}

tbody tr td{
	width: 100%;
}

tbody tr td a{
	text-decoration: none;
	font-size: 18px;
	color: #737373;
	display: block;
	width: 100%;
	height: 100%;
	padding: 20px 0;
	padding-left: 20px;
	border: 2px solid #fff;
}

tbody tr td a:hover{
	border: 2px solid #378FD9;
}

.search::-webkit-scrollbar{ 
	background:rgba(0,0,0,0);  
}

.search::-webkit-scrollbar-button{
 	background:#C1C1C1;  
}

.search::-webkit-scrollbar-thumb{ 
	background:#C1C1C1; 
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
	display: none;
}

/* -----------tabla contenido---------------*/

 .tabla{
    width: 30%;
    margin: auto;
    font-size: 15px;
    border: 2px ;
    margin-top: 15%; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; 

}
th {     
	font-size: 20px;     
	font-weight: normal;     
	padding: 8px;     
	background: #b9c9fe;
	 border-top: 4px solid #aabcfe;    
	 border-bottom: 1px solid #fff; 
	 color: #039; 
 }

tr:hover td { 
	background: #d0dafd; 
	color: #339; 
}


 .tabla tr{
	width: 40px;

}

.tabla td{
	padding: 20px;     
	background: #e8edff;     
	border-bottom: 1px solid #fff;
    color: #669;    
	border-top: 1px solid transparent;
}


.boton{
	text-align: center;
	font-size: 20px;
	text-decoration:none; 
	border-radius:2px;
	background-color: #b9c9fe;
	width: 30%;
	margin-top: 2px;
	margin-left: 30%; 
	
}

a:link   
{   
 text-decoration:none;   
}  