body {
  padding: 20px;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, serif;
  background: #1abc9d;
}

header img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  width: 200px;
  border: 6px solid #fff;
}
#hola {
	text-align: center;
}

aside {
  border-top: 0px solid #26A69A;
  margin: auto;
  display: block;
  border-radius: 25px;
  height: 460px;
  width: 900px;
  text-align:center;
}

header {
  text-align: center;
}
#Nombre{
	font-family: cursive;
	font-size: 16px;
	color: black;
}
#no{
	font-family:fantasy;
	font-size:14;
	color: #0B4C5F;
}
#imagen1{
	text-align:center;
}

.calificar {
	font-size: 0;
	display: inline-block;
	margin:auto;
}
.calificar a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	
	color: blue;
}

.calificar:hover a {
	color: rgb(39, 130, 228);
}
.calificar > a:hover ~ a {
	color: lime;
}